streamlit
langchain
langchain-community
langchain-groq
langchain-text-splitters
chromadb
faiss-cpu
pypdf
python-dotenv
tiktoken
sentence-transformers
python-docx
pytesseract
pillow
streamlit-pdf-viewer
